{% extends 'base.html.twig' %}

{% block title %}BookShop{% endblock %}

{% block body %}

<div style="height: 100vh;">
    <div class="bg-primary d-flex flex-column gap-5 justify-content-center align-items-center" style="height: 90%;">
        <h1 class="text-white">Bienvenue</h1>
        <a href="{{ path( 'product') }}" class="btn btn-primary">Voir tous les livres</a>
    </div>
</div>
{% endblock %}
