{% extends 'base.html.twig' %}

{% block title %}BookShop{% endblock %}

{% block body %}

<div class="home position-relative">
    <div class="header d-flex flex-column gap-5 flex-center"></div>
    <div class="content position-absolute text-center">
        <h1 class="bienvenue text-center text-uppercase text-bold text-white mb-5">Bienvenue sur BookStore</h1>
        <a href="{{ path( 'product') }}" class="btnc btnc-light ">Voir tous les livres</a>
    </div>
</div>

{% endblock %}
