
:root{
    --dark :  #2E150A;
    --primary: #482006;
    --light: #FFE69B;
    --warning: #FAB303;
    --danger: #E50101;
}

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:var(--primary);
    scroll-behavior: smooth;
}

html,body {
    color: var(--primary);
}

a{
    text-decoration: none;
    color:var(--primary)
}

a:hover{
    text-decoration: none;
    color:inherit;
}


.text-underline {
    text-decoration: underline;
}
.text-underline:hover {
    text-decoration: underline;
}

.textc-warning{
    color: var(--warning);
}

.textc-warning:hover{
    color: var(--warning);
}


.product .img-lg{
    /* background: rgb(238, 238, 238); */
    object-fit: contain;
    /* min-height: 430px; */
    max-width: 400px;
    /* box-shadow: 2px 4px 2px rgba(72, 32, 6, 0.45); */
}

.section .text-bold{
    font-weight: 700;
}

.bgc-primary{
    background-color: var(--primary);
}
.bgc-dark{
    background-color: var(--dark);
}
.bgc-light{
    background-color: var(--light);
}
.bgc-warning{
    background-color: var(--warning);
}
.bgc-danger{
    background-color: var(--danger);
}


.home {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.home .header {
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(72, 32, 6, 0.45),rgba(72, 32, 6, 0.45)),url("/images/utils/bibliothèque.jpg");
    background-size: cover;
    
    /* Safari */
    -webkit-filter: blur(5px);
    /* Firefox */
    -moz-filter: blur(5px);
    /* Opera */
    -o-filter: blur(5px);
    /* Internet Explorer */
    -ms-filter: blur(5px);
    /* Filtre de floutage CSS3 standard */
    filter: blur(5px);

    transform: scale(1.1); 
}

.home .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 54%;
    left: 50%;
    height: 160px;
    transform: translate(-50%,-50%);
}

.home .content h1 {
    text-shadow: 2px 4px 2px #482006;
}

.section  h1 {
    font-weight: 600;
    color: var(--primary);
    font-size: 24px;
}

.btnc {
    border: none;
    text-decoration: none;
    color: var(--primary);
    transition : background-color .3s ease-in-out;
    font-weight: 600;
    border-radius: 999px;
    padding: 15px 30px;
    cursor: pointer;
}

.btnc:hover{
    color: inherit;
}

.btnc-light {
    background-color: var(--light);
}

.btnc-light:hover{
    background-color: #ffd863;
}

.btnc-light:active{
    background-color: #ffbf00;
}

.menu{
    background-color: var(--primary);
    border: var(--primary);
}
.menu:hover{
    background-color: var(--light);
    border: var(--light);
}
.dropdown-toggle:focus{
    background-color: var(--light);
    border: var(--light);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    color: var(--primary);
}
/* .btnc-success {
    background-color: var(--primary);
    color: var(--primary);
}

.btnc-success:hover{
    color: var(--light);
    background-color: var(--light);
} */
a.btn.btn-success.d-flex.align-items-center.justify-content-center {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
    border-radius: 20px;
    margin-top: 9%;
}
a.btn.btn-success.d-flex.align-items-center.justify-content-center:hover {
    color: var(--dark);
    background-color: var(--light);
    border-color: var(--primary);
}



.mt-10 {
    margin-top: 100px;
}

.mtc-2 {
    margin-top: 10px;
}

.mtc-3 {
    margin-top: 16px;
}

.mtc-4 {
    margin-top: 20px;
}

.mtc-6 {
    margin-top: 56px;
}

.-top-5 {
    top: -20px;
}

.rounded-10{
    border-radius: 10px;
}
.rounded-max {
    border-radius: 999px;
}
.card-body{
    font-size:12px;
    color: #ffe69b7a;
}
.card-text p{
    color: var(--primary);
}

.card-category {
    width: 100%;
    border : 1px solid rgba(72, 32, 6,0.3);
    border-radius: 10px;
    color: var(--primary);
    background-color: #ffffff;
    transition: background-color .3s ease-in-out;
}

.card-category:hover{
    background-color: rgba(255, 230, 155,0.4);
}

.tags{
    display: flex;
    margin-top: 10px;
    gap:10px;
}
.tags .tag{
    background-color: #FFC5C5;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 11px;
    cursor: pointer;
    transform: scale(1);
    transition: transform .2s ease-in-out;
}

.tags .tag:nth-of-type(2n){
    background-color: #C5F8FF;
}

.tags .tag:hover{
    z-index: 20;
    transform: scale(1.2);
}

.one-product .content h1 {
    font-size: 32px;
}

.text-lg {
    font-size: 30px;
}

.comment h1{
    font-size: 22px;
}

.comment .auteur *{
    color:rgba(72, 32, 6, 0.7);
}

.rates span{
    text-decoration: underline;
    text-decoration-color: transparent;
   
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
    transition: .2s ease-in-out;
}

.rates:hover span{
    text-decoration-color: var(--primary);
   
    -webkit-text-decoration-color: var(--primary);
    -moz-text-decoration-color: var(--primary);
}


.auth {
    width: 100%;
    /* border: solid 1px #e1e1e1;
    border-radius: 10px;
    background-color: white; */
    /* overflow: hidden;
    box-shadow: 2px 6px 18px rgba(72, 32, 6, 0.25); */
}

.auth > div {
    width: 50%;
    height: 100vh;
}

.auth .content{
    padding: 100px 40px 40px 40px;
}

.auth .img {
    /* background-color: #482006; */
    /* background-image: linear-gradient( rgba(72, 32, 6, 0.45),rgba(72, 32, 6, 0.45)), url("https://images.unsplash.com/photo-1543002588-bfa74002ed7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2730&q=80"); */
    background-image: linear-gradient( rgba(72, 32, 6, 0.25),rgba(72, 32, 6, 0.25)), url("https://images.unsplash.com/photo-1572097560317-1189048dac38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80");
    background-size: cover;
    background-position: 0% 35%;
}

.col-lg-3{
    border-radius: 5px;
}
.card {
    width: 400px;
}
.etole.flex-center{
   margin-bottom: 3px;
}
.text{
    font-size: 12px;
    color: #fff8e1;
}