
:root{
    --dark :  #2E150A;
    --primary: #482006;
    --light: #FFE69B;
    --warning: #FAB303;
    --danger: #E50101;
}

html, *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: var(--primary);
}



.bgc-primary{
    background-color: var(--primary);
}
.bgc-dark{
    background-color: var(--dark);
}
.bgc-light{
    background-color: var(--light);
}
.bgc-warning{
    background-color: var(--warning);
}
.bgc-danger{
    background-color: var(--danger);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.home .header {
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(72, 32, 6, 0.45),rgba(72, 32, 6, 0.45)),url("/images/utils/bibliothèque.jpg");
    background-size: cover;
    
    /* Safari */
    -webkit-filter: blur(5px);
    /* Firefox */
    -moz-filter: blur(5px);
    /* Opera */
    -o-filter: blur(5px);
    /* Internet Explorer */
    -ms-filter: blur(5px);
    /* Filtre de floutage CSS3 standard */
    filter: blur(5px);

    transform: scale(1.1); 
}

.home .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 54%;
    left: 50%;
    height: 160px;
    transform: translate(-50%,-50%);
}

.home .content h1 {
    text-shadow: 2px 4px 2px #482006;
}

.section h1 {
    font-weight: 600;
    color: var(--primary);
    font-size: 24px;
}

.btnc {
    text-decoration: none;
    color: var(--primary);
    transition : background-color .3s ease-in-out;
    font-weight: 600;
}

.btnc-light {
    background-color: var(--light);
    color: var(--primary);
    border-radius: 999px;
    padding: 15px 30px;
}

.btnc-light:hover{
    color: inherit;
    text-decoration: none;
    background-color: #ffd863;
}

.btnc-light:active{
    color: inherit;
    text-decoration: none;
    background-color: #ffbf00;
}




.mt-10 {
    margin-top: 100px;
}

.mtc-2 {
    margin-top: 10px;
}

.mtc-3 {
    margin-top: 16px;
}

.mtc-4 {
    margin-top: 20px;
}

.mtc-6 {
    margin-top: 56px;
}

.-top-5 {
    top: -20px;
}

.rounded-10{
    border-radius: 10px;
}
.rounded-max {
    border-radius: 999px;
}


/* .bg-prim {
    background-color: rgb(107, 205, 185);
}

.bg-prim-dark {
    background-color: rgb(70, 132, 120);
} */

