{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div class="container section">
    <h1 class="mt-10 text-center text-uppercase">Toutes les catégories</h1>
    <div class="mt-5 mb-5 d-flex justify-content-between">
        <div>{{categories | length}} Catégories</div>
        <div>
            <a href="#" class="btnc btnc-light ">Trier</a>
        </div>
    </div>
    <div>
        {% for category in categories %}
            <a class="card p-3 my-2"  href="{{ path( 'category_products', {id:category.id}) }}" style="width: 435px">{{category.name}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
