{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<div class="pt-5">
    <h1>Produits</h1>
    <div style="display: block;">
        <div  class="row">
            {{ include('product/_products.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}


  
