{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div class="container section">
    <div style="display: block; margin-top: 8%;">
        <div  class="row">
            {% include "product/_products.html.twig" %}
        </div>
    </div>
</div>
    
</div>
</div>
{% endblock %}
